// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.slide")
+blueprint-scaffolding("body.slide")

body.slide
	+blueprint-utilities
	+blueprint-debug
	+blueprint-interaction
	// Remove the scaffolding when you're ready to start doing visual design.
	// Or leave it in if you're happy with how blueprint looks out-of-the-box
	margin:		0
	padding:	0
	background-color:	#eeeeee

	div.container
		+container
		//margin:		0
		//padding:	0
		width:		300px
		
	#empty
		margin-top:	20px
		text-align:	center
		color:	#dddddd
		text-shadow:	0 1px 0 rgba(255, 255, 255, 0.8)
			

		
	div.tab
		+column(7)
		-moz-border-radius:	4px 4px 4px 4px
		-moz-box-shadow:	0px 0px 5px #999999
		background-color:	white
		margin:				8px
		padding:			8px
		
		h4
			+column(7)
			white-space:	nowrap
			overflow:		hidden
			text-overflow:	ellipsis
