<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" version="XHTML+RDFa 1.0" xml:lang="en-GB">
    <head profile="http://www.w3.org/1999/xhtml/vocab http://www.w3.org/2003/g/data-view http://ns.inria.fr/grddl/rdfa/ http://purl.org/uF/2008/03/">
        <link href="http://www.w3.org/2003/g/glean-profile" rel="transformation" />
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
        <title>{M.title}</title>
        <link href="../style/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="../style/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
		<script src="../script/lib/jquery-1.3.2.min.js"></script>
		<script src="../script/lib/jquery-ui-1.7.2.custom.min.js"></script>
		<script src="../script/lib/jquery.text-overflow.js"></script>
		<script src="../script/lib/jquery.jeditable.js"></script>
		<script src="../script/lib/jquery.livequery.js"></script>
		<script src="../script/lib/jquery.hotkeys.min.js"></script>
		<script src="../script/lib/jquery.expander.js"></script>
        <style type="text/css">
        </style>
    </head>
    <body class="slide">
    	

        <div class="container">
		<div id="workflows">
			<div class="content">
        		<div class="buttons">
        			<span title="help"></span>
        		</div>
				<h4>Open Workflows</h4>
				<ul>
        			<li>Collaborative Paper Writing</li>
        			<li>Setting up a Git repository</li>
        			<li class="selected">Create a JetPack</li>
        		</ul>
			</div>
			<div class="expander">
				<span title="expand/collapse"></span>
			</div>
        </div>
		
		
		
		
		
		
		
		<div id="workflow">
            <h3>Collaborative thingie in 7 steps!</h3>
			<div class="content">
				<ul class="workflows">
					<li class="empty">
						<p>
							no tasks, <a href="#" class="help">show me how to add one</a>
						</p>
						<p>
							or <a href="#" class="delete">delete this workflow</a>
						</p>
					</li>
                	<li class="link">link</li>
                	<li class="field">form field</li>
                	<li class="note">Mozilla is a global open source community with a rich technical diversity. Its products are used by hundreds of millions of people around the world in many different languages. The size and complexity of Mozilla can seem overwhelming to new contributors, and especially to students, who are still learning many of the skills necessary to work at this scale. However, this also makes Mozilla a good choice for those seeking to do real-world project work. </li>
					<li class="pic">picture</li>
					<li class="shot">snapshot</li>
                </ul>
				
				<div class="bar">
					<div class="workflowtrash">trash</div>
				</div>
				<div class="bar-button">
					<a href="#" class="add">new task (set)</a>
				</div>

			</div>
     	</div>
		
		
		
		</div>
        
		<div class="container" id="container">
        
		
		
		
		
        <div class="empty">
        	<h1>things will happen here once you (re)load tabs</h1>
			<p><a href="#" class="info">About MUPPLE</a></p>
		</div>
			
            <div class="tab" style="xoverflow: visible;">
            	<h4 class="title">long title long title long title long title long title </h4>
				<div class="content">
				<ul class="action">
					<li class="empty">
						<p>
							no actions, <a href="#" class="help">show me how to add one</a>
						</p>
						<p>
							or <a href="#" class="delete">delete this group</a>
						</p>
					</li>
                	<li class="link">link</li>
                	<li class="field">form field</li>
                	<li class="note">Mozilla is a global open source community with a rich technical diversity. Its products are used by hundreds of millions of people around the world in many different languages. The size and complexity of Mozilla can seem overwhelming to new contributors, and especially to students, who are still learning many of the skills necessary to work at this scale. However, this also makes Mozilla a good choice for those seeking to do real-world project work. </li>
					<li class="pic">picture</li>
					<li class="shot">snapshot</li>
                </ul>
				
				<div class="bar">
					<div class="trash">trash</div>
				</div>
				<div class="bar-button">
					<button>Done</button>
				</div>

				</div>
            </div>
			
            <div class="tab" style="xoverflow: visible;">
            	<h4 class="title">long title long title long title long title long title </h4>
				<div class="content">
				<ul class="action">
					<li class="empty">
						<p>
							no actions, <a href="#" class="help">show me how to add one</a>
						</p>
						<p>
							or <a href="#" class="delete">delete this group</a>
						</p>
					</li>
                	<li>action one</li>
                	<li>action two</li>
                	<li>action three</li>
                </ul>
				
				<div class="bar">
					<div class="trash">trash</div>
				</div>
				<div class="bar-button">
					<button>Done</button>
				</div>

				</div>
            </div>
			
			
        </div>
        <div id="templates">
            <div id="tab">
            </div>
        </div>
		
		<pre></pre>
		<span id="flow"></span>
		
		<a href="javascript:document.location.reload()">[reload]</a>
		
		<!-- script>
			document.write(document.location);
		</script -->
		
		<script src="../script/slide.js"></script>
    </body>
</html>
